{% if include.hasLargeHeader %}
    {% assign headerClass = 'biography-has-header' %}
{% endif %}

<div class="biography {{ headerClass }}">
    <div class="row">

        <div class="biography--avatar col-xs-4 col-sm-12">
            <img src="{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo"></a>
        </div>

        <div class="col-xs-7 col-sm-10">
            <div class="biography--whoami">
                {% if site.data.biography.title %}
                    <h3>{{ site.data.biography.title }}</h3>
                {% endif %}
                {{ site.data.biography.bio }}
            </div>

            <div class="biography--twitter">
                <a href="https://twitter.com/{{ site.owner.twitter }}" class="twitter-follow-button"
                   data-show-count="false"
                   data-show-screen-name="true"
                   data-size="large">Follow @{{ site.owner.twitter }}</a>
            </div>
        </div>

    </div>
</div>