{% if page.image.feature contains 'http://' or page.image.feature contains 'https://' %}
    {% assign imagesrc = page.image.feature %}
{% else %}
    {% assign imagesrc = {{ site.url | append: '/assets/images/' | append: page.image.feature }}  %}
{% endif %}

<div class="feature-image">
    <div class="feature-image--cover-photo" style="background-image: url('{{ imagesrc }}');">
        <div class="overlay"></div>
    </div>
    {% if page.image.credit %}
        {% if page.image.creditlink %}
            <span class="feature-image--credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
        {% else %}
            <span class="feature-image--credit">Photo Credit: {{ page.image.credit }}</span>
        {% endif %}
    {% endif %}
</div>