<!DOCTYPE HTML>

{% if site.lang %}
    <html lang="{{ site.lang }}">
{% else %}
    <html>
{% endif %}

<head>
    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>

    <meta charset="utf-8">
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    <meta http-equiv="cleartype" content="on">

    {% capture description %}
        {% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}
    {% endcapture %}

    <meta name="description" content="{{ description }}">
    {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}

    <!-- Facebook - Open Graph -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500,300|Lora' rel='stylesheet' type='text/css'>

    <!-- For all browsers -->
    <link rel="stylesheet" href="/dist/main.min.css">
    <link rel="stylesheet" href="/assets/css/overrides.css">

    <!-- HTML5 Shiv and Media Query Support -->
    <!--[if lt IE 9]>
    <script src="/assets/js/vendor/html5shiv.min.js"></script>
    <script src="/assets/js/vendor/respond.min.js"></script>
    <![endif]-->

    {% include google_analytics.html %}
</head>