<div class="twitter-popup sans-serif">
    <a href="#" class="twitter-popup--close-btn" title="Close">
        <i class="icon-close"></i>
    </a>
    <h4>{{ site.data.twitter_share.popup.title }}</h4>
    <div class="twitter-popup--content">
        <p>"{{ page.title }}" by @{{ site.owner.twitter }}</p>
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-url="{{ site.url }}{{ page.url }}"
           data-text="{{ site.data.twitter_share.twitter_share_button.text_prefix }} &quot;{{ page.title }}&quot;"
           data-via="{{ site.owner.twitter }}"
           data-size="{{ site.data.twitter_share.twitter_share_button.size }}"
           data-count="{{ site.data.twitter_share.twitter_share_button.count }}"
           data-dnt="{{ site.data.twitter_share.twitter_share_button.dnt }}">Tweet</a>
    </div>
    <footer class="twitter-popup--footer">
        <a href="https://twitter.com/{{ site.owner.twitter }}" class="twitter-follow-button"
           data-show-count="{{ site.data.twitter_share.twitter_follow_button.show_count }}"
           data-size="{{ site.data.twitter_share.twitter_follow_button.size }}">Follow @{{ site.owner.twitter }}</a>
        <img src="{{ site.url }}/assets/images/{{ site.owner.avatar }}">
    </footer>
</div>

<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>