<div id="twitter-popup" class="sans-serif animated-long">
    <a href="#" class="twitter-popup--close-btn" title="Close">
        <i class="icon-close"></i>
    </a>
    <h4>Like it? Tweet it.</h4>
    <div class="twitter-popup--content">
        <p>"{{ page.title }}" by @{{ site.owner.twitter }}</p>
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-url="{{ site.url }}{{ page.url }}"
           data-text="A choice read &quot;{{ page.title }}&quot;"
           data-via="{{ site.owner.twitter }}"
           data-size="medium"
           data-count="none"
           data-dnt="true">Tweet</a>
    </div>
    <footer class="twitter-popup--footer">
        <a href="https://twitter.com/{{ site.owner.twitter }}" class="twitter-follow-button"
           data-show-count="true"
           data-size="medium">Follow @{{ site.owner.twitter }}</a>
        <img src="{{ site.url }}/assets/images/{{ site.owner.avatar }}">
    </footer>
</div>

<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>