.biography {
    z-index: 2;
}

.biography-is-fixed {
    position: fixed !important;
    margin-top: 0 !important;
    top: 40px !important;
}

.biography--avatar img {
    max-width: 110px;
    border-radius: 8px;
}

.biography--whoami h3 {
    margin: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .biography-is-fixed {
        width: 160px;
    }
    .biography.biography-has-header {
        position: relative;
        top: -70px;
    }
    .biography--whoami {
        margin: 20px 0;
    }
    .biography--avatar img {
        border: 4px solid #FFF;
        position: relative;
        top: -4px;
        left: -4px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
    .biography-is-fixed {
        width: 210px;
    }
    .biography--avatar img {
        max-width: 150px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .biography-is-fixed {
        width: 260px;
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .biography {
        position: static !important;
    }
    .biography-wrapper {
        background: #EEE;
        padding: 20px;
    }
}