body {
    -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6, .sans-serif {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.post-title {
    letter-spacing: -0.04em;
    line-height: 1.1;
    margin-top: 0;
    font-weight: 300;
    font-size: 42px;
}

.blog-content .post-title-is-page {
    font-size: 28px;
    padding-bottom: 14px;
    border-bottom: 1px solid #C3C3C3;
}

.blog-content .post-title-is-page a {
    text-decoration: none;
    color: #262626;
}

.blog-content, .serif {
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 1.9;
}
