html {
    position: relative;
    min-height: 100%; /* Sticky Footer */
}

.page-footer {
    font-size: 11px;
    color: #999;
}

.page-footer p:last-child {
    margin-bottom: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .biography-wrapper {
        margin-bottom: 86px; /* The exact height of the footer */
    }
    .page-footer {
        text-align: left;
        padding-bottom: 21px;
        position: absolute;
        bottom: 0;
    }
    .page-footer--inner {
        width: 215px;
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .page-footer {
        text-align: center;
        padding: 15px 0;
    }
    .page-footer--inner p {
        margin: 0;
    }
}