a:hover, .post-title a:hover, #disqus_thread a {
    color: #F36;
}

/* Quote */
.blockquote-quote {
    font-size: 13px;
    line-height: 1.8;
    -webkit-font-smoothing: initial;
    width: 70%;
    float: right;
    text-align: right;
    padding: 0;
    border: none;
}

.blockquote-quote--footer {
    font-size: inherit;
    line-height: inherit;
}

/* Utility functions */
.u-secondary {
    color: #B1ADAD;
}

.u-tertiary {
    color: #999;
}

.u-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.u-dash:before {
    content: '\2014';
    margin-right: 2px;
}

/* Visible / Hide Bootstrap utility that is Inline instead of Block */
@media screen and (max-width: 768px) {
    .visible-xs-inline {
        display: inline-block; !important
    }
}

@media screen and (min-width: 768px) {
    .visible-xs-inline {
        display: none; !important
    }
}