.masthead {
    position: relative;
    margin-bottom: 30px;
}

.masthead--content {
    position: relative;
    z-index: 2;
}

.masthead--mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #303843;
    opacity: 0.8;
    z-index: 1;
}

.masthead--title {
    margin-bottom: 10px;
    position: relative;
}

.masthead--content .post-title {
    color: #FFF;
    margin-bottom: 0;
}

.masthead--content .meta {
    color: #BDBDBD;
}

.masthead--credits {
    position: absolute;
    bottom: 10px;
    right: 12px;
    z-index: 1;
    max-width: 200px;
    text-align: right;
}

.masthead--credits, .masthead--credits-link a {
    color: rgba(255, 255, 255, 0.5);
}

.masthead--credits-link {
    font-size: 12px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .masthead--title {
        margin-top: 60px;
        min-height: 140px;
    }
    .masthead--title .inner {
        position: absolute;
        bottom: 10px;
    }
}