.photoset {
    position: relative;
    margin: 30px 0;
}

.photoset .figure {
    margin-bottom: 0;
}

.photoset .figure--image-wrapper {
    height: 400px;
    overflow: hidden;
}

/* Hide all figures inside a photoset except for first (which will be a clickable figure) */
.photoset .photoset--figure:not(:first-child):not(.slick-slide) {
    display: none;
}
