{% if page.image.feature contains 'http://' or page.image.feature contains 'https://' %}
    {% assign imagesrc = page.image.feature %}
{% else %}
    {% assign imagesrc = {{ site.url | append: '/assets/images/' | append: page.image.feature }}  %}
{% endif %}

<header class="masthead" style="background-image: url('{{ imagesrc }}');">
    <div class="masthead--mask"></div>
    <div class="masthead--content container">

        <!-- Logo and Site Navigation -->
        {% include header/_navigation.html %}

        <!-- Optional Cover photo for page -->
        {% if page.large_header or page.image %}
        <div class="masthead--title row">
            <div class="inner col-sm-9 col-sm-offset-3">
                {% include post/_title.html %}
            </div>
        </div>
        {% endif %}

    </div>

    <!-- Display Caption and URL for any cover photo images being used -->
    {% if page.image.credit or page.image.creditlink %}
    <div class="masthead--credits hidden-xs u-truncate">

        {% if page.image.credit %}
        <div class="masthead--credits-caption">{{ page.image.credit }}</div>
        {% endif %}

        {% if page.image.creditlink %}
        <div class="masthead--credits-link">
            <a href="{{ page.image.creditlink }}" target="_blank">{{ page.image.creditlink }}</a>
        </div>
        {% endif %}

    </div>
    {% endif %}

</header>