{% if page.image.feature contains 'http://' or page.image.feature contains 'https://' %}
    {% assign imagesrc = page.image.feature %}
{% else %}
    {% assign imagesrc = {{ site.url | append: '/assets/images/' | append: page.image.feature }}  %}
{% endif %}
{% if page.image %}
    {% capture background_image_style %}
        background-image: url('{{ imagesrc }}');
    {% endcapture %}
    {% assign hasBackgroundImage = 'masthead-has-bg-image' %}
{% endif %}
<header class="masthead {{ hasBackgroundImage }}" style="{{ background_image_style }}{{ page.image.bg_style }}">

    <!-- TODO: Only show mask when we know an image exists to be displayed -->
    <div class="masthead--mask" style="{{ page.image.mask_style }}"></div>

    <div class="masthead--content container">

        <!-- Logo and Site Navigation -->
        {% include header/_navigation.html %}

        <!-- Optional Cover photo for page -->
        {% if page.large_header or page.image %}
        <div class="masthead--title row" style="{{ page.image.title_style }}">
            <div class="inner col-sm-9 col-sm-offset-3">
                {% include post/_title.html %}
            </div>
        </div>
        {% endif %}

    </div>

    <!-- Display Caption and URL for any cover photo images being used -->
    {% if page.image.credit or page.image.creditlink %}
    <div class="masthead--credits hidden-xs u-truncate u-secondary">

        {% if page.image.credit %}
        <div class="masthead--credits-caption">{{ page.image.credit }}</div>
        {% endif %}

        {% if page.image.creditlink %}
        <div class="masthead--credits-link u-truncate u-secondary">
            <a href="{{ page.image.creditlink }}" target="_blank">{{ page.image.creditlink }}</a>
        </div>
        {% endif %}

    </div>
    {% endif %}

</header>