{% include head.html %}
<body>
{% include header/header.html %}

<!-- Wrap around two rows: 1. Biography + Content, 2. Comments -->
<div class="blog-content-wrapper container">

    <div class="row">

        <!-- Main page content -->
        <div class="blog-content col-sm-9 col-sm-push-3 col-md-8 col-md-push-3 col-lg-7 col-lg-push-3">
            <div class="blog-content--inner">
                {{ content }}
            </div>
        </div>

        <!-- Personal Biography -->
        <div class="biography-wrapper col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-8 col-lg-3 col-lg-pull-7">
            {% include biography.html %}
        </div>

    </div>

    {% if site.disqus_short_name and page.comments %}
    <div class="row hidden-xs">
        <div id="disqus_thread" class="blog-content--comments col-sm-9 col-sm-push-3"></div>
    </div>
    {% endif %}

</div>

{% include footer.html %}
{% include scripts/scripts.html %}

</body>
</html>
