{% include head.html %}
<body>
    {% include navigation.html %}

    {% if page.image.feature %}
        {% assign has_feature_image='content-wrap-has-feature-image' %}
        {% include feature_image.html %}
    {% endif %}

    <div class="content-wrap {{ has_feature_image}}" role="main">
        <div class="article-author-side biography">
            {% include author-bio.html %}
        </div>
        {{ content }}

        <div class="footer-wrap">
            {% comment %}
            {% if site.disqus_short_name and page.comments == true %}
                {% include related_articles.html %}
            {% endif %}
            {% endcomment %}
            <footer>
                {% include footer.html %}
            </footer>
        </div>

    </div>

    {% include scripts.html %}
</body>
</html>
