---
layout: page
type: home
---
{{ content }}
<section class="page-posts">
{% for post in site.posts %}

    {% unless post.next %}
        <h2>{{ post.date | date: '%Y' }}</h2>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
        <h2>{{ post.date | date: '%Y' }}</h2>
        {% endif %}
    {% endunless %}

    <article class="page-posts--article">
        {% if post.link %}
            <h4 class="heading link-post">
                <a class="title-link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                <a href="{{ post.link }}" target="_blank" title="{{ post.title }}">
                    <i class="icon-link"></i>
                </a>
            </h4>
        {% else %}
            <h4 class="heading">
                <a class="title-link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </h4>
            <p class="excerpt">
                {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}
            </p>
        {% endif %}
    </article>
{% endfor %}
</section>