---
layout: page
type: home
---
<section class="page-home">
    <h2 class="post-title post-title-is-page">
        <a href="/blog/">Recent Posts</a>
    </h2>
    {% for post in site.posts limit: 8 %}
        <article>
        {% if post.link %}
            <h3 class="link-post">
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                <a href="{{ post.link }}" target="_blank" title="{{ post.title }}">
                    <i class="icon-link"></i>
                </a>
            </h3>
        {% else %}
            <h3>
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </h3>
            <p>
            {% if post.description %}
                {{ post.description }}
            {% else %}
                {{ post.content | strip_html | strip_newlines | truncate: 120 }}
            {% endif %}
            </p>
        {% endif %}
        </article>
    {% endfor %}
</section>