---
layout: default
type: post
---
<article>
    <div class="headline-wrap">
        <h1 itemprop="name" name="title" class="post-title">{{ page.title }}</h1>
    </div>

    <div class="article-wrap">
        {{ content }}
        <hr />
        <footer role="contentinfo">
            <div class="article-author-bottom">
                {% include author-bio.html %}
            </div>
            <p class="byline">
                <strong>{{ page.title }}</strong> was published on
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
                {% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}
                by <a href="{{ site.url }}/about" title="About {{ site.owner.name }}">{{ site.owner.name }}</a>.
            </p>
        </footer>
    </div>

    {% if site.disqus_shortname and page.comments %}
        <section id="disqus_thread"></section>
    {% endif %}
</article>
