---
layout: default
type: post
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="headline-wrap">
        <h1 itemprop="name" name="title" class="post-title">{{ page.title }}</h1>
        {% include meta/meta.html %}
    </div>

    <div class="article-wrap">
        {{ content }}
        <hr />
        <footer role="contentinfo">
            <div class="article-author-bottom">
                {% include author-bio.html %}
            </div>
        </footer>
    </div>

    {% if site.disqus_short_name and page.comments %}
        <section id="disqus_thread"></section>
    {% endif %}

    {% include post/_twitter_popup.html %}

</article>
